@use './variables' as *;

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding:  1.5vh;
    font-family: $font-text;
    gap: 2vw;
    
    .footer__leftWrapp,
    .footer__rightWrapp{
       align-items: center;
       display: flex;
       gap: 5vw;
    }


.footer__insta--logo,
.footer__telegram--logo,
.footer__tiktok--logo{
    width: 6vw;
    height: auto;
}


a{
    text-decoration: none;
    color: black;
}
}

