@use './variables' as *;

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding:  1.5vh;
    font-family: $font-text;
    
    
.footer__leftWrapp{
    
    flex: 1;
}

.footer__insta--logo,
.footer__telegram--logo,
.footer__tiktok--logo{
    width: 6vw;
    height: auto;
}


a{
    text-decoration: none;
    color: black;
}
}

