.nav{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
    background-color: transparent;
    height: 5vh; gap: 23vw; 
      
}

.nav__burger{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px; margin-left: 2.5vw;

&__span{
    width: 30px;              // ширина линии
    height: 3px; 
    background-color: rgb(0, 0, 0);
}
}



.nav__title{
    font-family: "Montserrat";
    font-size: 9vw; 
    margin: 0;
}

.nav__title span{
    display: inline-block;
    opacity: 0;            // изначально скрыты
    transform: translateY(-20px);

}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%; // изначально скрыто за экраном
  width: 250px;
  height: 55vh;
  background: rgba(0, 0, 0, 0.699);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; gap: 10vh;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 1000;


a{
  color: white;
  font-family: "Raleway";
  font-size: xx-large;
  text-decoration: none;
}

}
 
